body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template: 0.3fr 3fr / 0.7fr 3fr;
}

.navbar {
    grid-area: 1 / 1 / 2 / -1;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: 2 / 1 / -1 / -1;
    background-color: limegreen;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 0.5%;
    min-width: 100%;
    z-index: 1;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5%;

}

a:hover {
    background-color: lightgrey;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

/* body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .slideshow {
    width: 80%;
    min-width: 800px;
    position: relative;
  }
  
  .slide {
      display: none;
  
  }
  
  .slide img {
    width: 100%;
    height: 450px;
  }
  
  .selected {
      display: block;
  }
  
  
  
  .prev, .next {
      position: absolute;
      top: 50%;
      cursor: pointer;  
      transition: 0.6s ease;
  }
  
  .next {
      right: 0;
  }
  
  .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: lightgrey;
      display: inline-block;
  }
  
  .active, .dot:hover {
      background-color: grey;
  }

  .bees {
    background-image: url('./assets/images/bees.jpg');
    background-size: cover; /* or 'contain' */
    background-repeat: no-repeat;
    /* Optional: Center the background image */
    background-position: center;
  }

  .colors {
    background-image: url('./assets/images/colors.jpg');
    background-size: cover; /* or 'contain' */
    background-repeat: no-repeat;
    /* Optional: Center the background image */
    background-position: center;
  }

  .dogs {
    background-image: url('./assets/images/dogs.jpg');
    background-size: cover; /* or 'contain' */
    background-repeat: no-repeat;
    /* Optional: Center the background image */
    background-position: center;
  }